html {
  padding: 1% 5%;
}

h2 {
  margin-top: 5%;
}

table {
 border: 2px solid;
 padding: 1px;
}

td {
  border: 1px solid;
  padding: 10px 20px;
  text-align: center;
}
.th {
  background-color: beige;
  font-weight: 700;
}

input{
  margin: .4rem 0;
  width: 35%;
  border-radius: 25px;
  padding: 15px 25px;
}

#city {
  padding: 5px;
  border-radius: 5px;
  font-size: larger;
}
.center {
  text-align: center;
}